.mainMenuLeft {
	z-index: 100;
	width: 60px;
	text-align: center;
	background-color: #303749;
	height: 100vh;
	left: 0;
	top: 0;
	position: fixed;
}

.mainMenuLeft img {
	margin-top: 15px;
	cursor: pointer;
	opacity: .7;
	transition: .3s;
}
.mainMenuLeft img:hover {
	opacity: 1;
}

.mainMenu {
	z-index: 90;
	width: 320px;
	height: 100vh;
	background: #2C3346;
	position: fixed;
	top: 0;
	left: 60px;
	transition: .3s;
}

.mainMenuHeader {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	padding: 90px 33px 20px 33px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mainMenuHeader img {
	cursor: pointer;
	transition: .3s;
	opacity: .7;
}

.mainMenuHeader img:hover {
	opacity: 1;
}

.mainMenuRow img {
	visibility: hidden;
	opacity: .7;
}
.mainMenuRow img:hover {
	opacity: 1;
}

.mainMenuRow {
	padding: 6px 20px;
	font-size: 15px;
	line-height: 21px;
	color: #FFFFFF;
	margin: 0 13px;
	transition: .3s;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mainMenuRow:hover {
	background-color: #4D527F;
}
.mainMenuRow:hover img {
	visibility: visible;
}

.logOut {
	position: absolute;
	bottom: 30px;
	left: 32px;
	width: 256px;
	height: 40px;
	border: 1px solid #8F8B9E;
	box-sizing: border-box;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #C5C3CE;
	font-weight: 700;
	opacity: .7;
	transition: .3s;
}

.logOut:hover {
	opacity: 1;
}

.header {
	height: 53px;
	width: 100%;
	padding: 0 75px;
	box-shadow: 0px 1px 5px rgba(67, 67, 111, 0.3);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.gantChartWrap {
	margin-left: 40px;
	width: calc( 100% - 40px );
	overflow: auto;
}

@media (max-width: 800px) {
	.header {
		padding: 0 10px 0 55px;
	}
}