input[type='range']::-webkit-slider-thumb {
    cursor: ew-resize;
}

input[type="range"]::-moz-range-track {
    background: #D2D6E9;
}

.switch-module {
    padding: 15px 0;
    display: flex; 
    margin-left: 70px;
    align-items: center;
    border-bottom: 1px solid #E8ECEF;
}

.scale {
    text-align: center;
}

.scale-title {
    font-weight: 500;
    font-size: 15px;
    color: #2C2C2C;
}

.task-list{
    font-weight: 700;
    font-size: 12px;
    color: #2C2C2C;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 15px;
}

.mobile-switch {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background: #FBFBFD;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.22);
    border-radius: 6px 6px 0px 0px;
    height: 60px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 21px;
    color: #2C2C2C;
    display: none;
}

.mobile-switch input {
    width: 80px;
    margin: 0;
}

@media (max-width: 800px) {
    .switch-module {
        display: none;
    }
    .mobile-switch {
        display: flex;
    }
}