/* Base */
.modalBlock {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(51, 56, 61, 0.35);
  z-index: 100;
}

.modalWrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
}

.modal {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  position: relative;
}

/* Account */

.accountModal {
  composes: modal;
  width: 420px;
  padding: 49px 40px 29px 40px;
  align-items: center;
}

.accountTitle {
  composes: title from "./base.module.scss";
  margin-bottom: 48px;
  margin-top: 0;
  text-align: center;
}

.accountLink {
  composes: link from "./base.module.scss";
  width: max-content;
}

.accountLinkDisabled {
  composes: accountLink;
  composes: linkDisabled from "./base.module.scss";
  &:hover {
    text-decoration: underline;
  }
}

.accountPrimaryButton {
  composes: primaryButton from "../styles/base.module.scss";
  width: 100%;
  height: 60px;
  margin-bottom: 24px;
  margin-top: 20px;
}

.accountSecondaryButton {
  composes: secondaryButton from "../styles/base.module.scss";
  width: 100%;
  height: 60px;
  margin-bottom: 24px;
  margin-top: 20px;
}

.warningContainer {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #ff4b4b;
  margin-bottom: 11px;
  align-self: flex-start;
  margin-top: 3px;
  & + .accountSecondaryButton {
    margin-top: 0;
  }
}

@media (max-width: 575.98px) {
  .accountModal {
    width: calc(100% - 40px);
    padding: 28px 30px 24px 30px;
  }

  .accountTitle {
    margin-bottom: 32px;
    font-size: 24px;
  }

  .accountPrimaryButton {
    height: 50px;
    margin-bottom: 16px;
    margin-top: 0px;
    font-size: 15px;
  }

  .accountSecondaryButton {
    height: 50px;
    margin-bottom: 16px;
    margin-top: 0px;
    font-size: 15px;
  }

  .accountLink {
    font-size: 13px;
  }

  .accountLinkDisabled {
    font-size: 13px;
  }
}
