.container {
  z-index: 100;
  position: absolute;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(51, 56, 61, 0.35);
}

.form {
  width: 420px;
  height: 500px;
  background: #ffffff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 49px 40px 26px 40px;
  position: relative;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 21px;
  color: #505356;
  width: 100%;
  text-align: center;
  margin-bottom: 18px;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #6f6e6e;
  width: 100%;
  text-align: center;
  margin-bottom: 21px;
}

.formInput {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  display: block;
  transition: border 0.4s;
  &:hover {
    border: 1px solid #d8d8d8;
  }
  input,
  textarea {
    width: 100%;
    height: 58px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #696f75;
    border: none;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 45px;
    border-radius: 5px;
    &:focus + span {
      font-size: 13px;
      color: #d8d8d8;
      padding: 3px 4px 5px 4px;
      top: -15px;
      margin-left: 16px;
      background-color: #fff;
    }
  }
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #696f75;
    margin-left: 20px;
    box-sizing: border-box;
    left: 0;
    padding-top: 18px;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: font-size 200ms, all 200ms;
    z-index: 1;
  }
}

.formInputFilled {
  composes: formInput;
  span {
    font-size: 13px !important;
    color: #d8d8d8 !important;
    padding: 3px 4px 5px 4px;
    top: -15px;
    margin-left: 16px;
    background-color: #fff;
  }
}

.formInputWarn {
  composes: formInput;
  margin-bottom: 0;
  transition: 0s;
  input {
    border: 1px solid #ff4b4b;
  }
  &:hover {
    border: 1px solid #f3f3f3;
  }
}

.formInputFilledWarn {
  composes: formInputFilled;
  transition: 0s;
  margin-bottom: 0;
  input {
    border: 1px solid #ff4b4b;
  }
  &:hover {
    border: 1px solid #f3f3f3;
  }
}

.passwordEye {
  position: absolute;
  top: 18px;
  right: 12px;
  cursor: pointer;
  z-index: 1;
  transition: 0.4s;
  &:hover ~ .formInput {
    border: 1px solid #d8d8d8;
  }
  &:hover ~ .formInputWarn,
  .formInputFilledWarn {
    border: 1px solid #f3f3f3;
  }
  &:active {
    color: #258efa !important;
  }
}

.passwordContainer {
  width: 100%;
  position: relative;
  height: 58px;
  .passwordEye {
    color: #d8d8d8;
  }
  &:hover {
    .passwordEye {
      color: rgba(37, 142, 250, 0.5);
    }
  }
  &:focus-within {
    .passwordEye {
      color: #258efa;
    }
  }
}

.primaryButton {
  background: #258efa;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 60px;
  margin-bottom: 24px;
  margin-top: 20px;
  transition: background 0.4s, color 0.4s, border 0.4s;
  &:hover {
    background: rgba(37, 142, 250, 0.05);
    color: #258efa;
    border: 1px solid #258efa;
  }
  &:active {
    background: rgba(37, 142, 250, 0.05);
    color: #258efa;
    border: 1px solid #258efa;
  }
}

.line {
  width: 420px;
  height: 1px;
  background: #f3f3f3;
  position: absolute;
  top: 407px;
}

.linkDescription {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #6f6e6e;
  text-align: center;
  position: absolute;
  top: 421px;
}

.link {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #258efa;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 454px;
  transition: 0.4s;
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

.warningContainer {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #ff4b4b;
  margin-bottom: 11px;
  align-self: flex-start;
  margin-top: 3px;
  & + .primaryButton {
    margin-top: 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    padding: 0px;
  }

  .form {
    width: 560px;
    height: auto;
    padding: 27px 30px 13px 30px;
  }

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
    margin-bottom: 14px;
    br {
      display: none;
    }
  }

  .formInput {
    width: 240px;
    align-self: flex-start;
    margin-bottom: 20px;
    height: 50px;
    input,
    textarea {
      height: 48px;
      font-size: 13px;
      &:focus + span {
        top: -11px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 11px !important;
      }
    }
    span {
      padding-top: 13.5px;
      font-size: 13px !important;
    }
  }

  .passwordContainer {
    width: 240px;
    position: absolute;
    right: 30px;
    top: 101px;
    height: 50px;
    & + .warningContainer {
      margin-left: 260px;
    }
  }

  .formInputFilled {
    align-self: flex-start;
    width: 240px;
    margin-bottom: 20px;
    height: 50px;
    input,
    textarea {
      height: 48px;
      font-size: 13px;
      &:focus + span {
        top: -11px;
        font-size: 11px !important;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    span {
      font-size: 11px !important;
      top: -11px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .passwordEye {
    top: 13px;
  }

  .primaryButton {
    margin-top: 0px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .line {
    width: calc(100% + 60px);
    height: 1px;
    position: static;
    margin-bottom: 12px;
  }

  .linkDescription {
    font-size: 13px;
    position: static;
    margin-bottom: 3px;
  }

  .link {
    font-size: 13px;
    position: static;
  }

  .warningContainer {
    font-size: 11px;
    margin-bottom: 10px;
    margin-top: -17px;
    & + .primaryButton {
      margin-top: 0;
    }
  }
}

@media (max-width: 575.98px) {
  .container {
    padding: 0 20px;
  }

  .form {
    width: 100%;
    height: auto;
    padding: 33px 30px 21px 30px;
  }

  .description {
    margin-bottom: 13px;
    br {
      display: inline;
    }
    .descriptionBr {
      display: none;
    }
  }

  .formInput,
  .formInputFilled {
    width: 100%;
    align-self: center;
    margin-bottom: 10px;
  }

  .passwordContainer {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    right: 0;
    & + .warningContainer {
      margin-left: 0;
    }
  }

  .warningContainer {
    margin-top: -7px;
  }

  .primaryButton {
    margin-bottom: 24px;
  }

  .line {
    margin-bottom: 10px;
  }
}
