.primaryButton {
  background: #258efa;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background 0.4s, color 0.4s, border 0.4s;
  &:hover {
    background: rgba(37, 142, 250, 0.05);
    color: #258efa;
    border: 1px solid #258efa;
  }
}

.secondaryButton {
  composes: primaryButton;
  background: #fff;
  border: 1px solid #258efa;
  color: #258efa;
  transition: background 0.4s, color 0.4s, border 0.4s;
  &:hover {
    background: #258efa;
    color: #fff;
    border: 1px solid transparent;
  }
}

.successButton {
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #59cd90;
  width: 100%;
  height: 60px;
  margin-bottom: 24px;
  cursor: default;
  margin-top: 20px;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 21px;
  color: #505356;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #6f6e6e;
}

.link {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #258efa;
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    text-decoration: none;
  }
}

.linkDisabled {
  composes: link;
  cursor: default;
  color: #d8d8d8;
}

.container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .container {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px) {
  .container {
    padding: 0 calc(50% - 368.5px);
  }
}

@media (min-width: 991.98px) {
  .container {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1199.98px) {
  .container {
    padding: 0 calc(50% - 570px);
  }
}

@media (max-width: 767.98px) {
  .successButton {
    height: 50px;
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 15px;
  }
}

@media (max-width: 575.98px) {
  .successButton {
    margin-bottom: 16px;
  }
}
