.wrapper {
  display: flex;
  position: relative;
}

.wrapperPointer {
  composes: wrapper;
  cursor: pointer;
}

.wrapperGrab {
  composes: wrapper;
  cursor: grab;
}

.day {
  font-style: normal;
  font-weight: lighter;
  font-size: 15px;
  line-height: 21px;
  color: #696f75;
  width: 42px;
  height: 48px;
  margin: 0 6.5px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: background 0.4s, color 0.4s;
  &:hover {
    background: #ecf5ff;
  }
  &:active {
    background: #ecf5ff;
    color: #258efa;
  }
}

.weekend {
  composes: day;
  font-weight: bold;
}

.today {
  composes: day;
  font-weight: bold;
  background: #ecf5ff;
  border-radius: 3px;
  color: #258efa;
}

.line {
  width: 1px;
  height: calc(100vh - 177px);
  background: #258efa;
  position: absolute;
  left: 27px;
}

.month {
  display: flex;
}

.monthName {
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #d8d8d8;
  margin-bottom: 5px;
  text-align: center;
}

.wrapperr {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.week {
  font-style: normal;
  font-weight: lighter;
  font-size: 15px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #696f75;
  width: 119px;
  margin-left: 1px;
  height: 42px;
  border-radius: 3px;
  transition: background 0.4s, color 0.4s;
  &:hover {
    background: #ecf5ff;
  }
  &:active {
    background: #ecf5ff;
    color: #258efa;
  }
}

.weekCurrent {
  composes: week;
  font-weight: bold;
  background: #ecf5ff;
  border-radius: 3px;
  color: #258efa;
}

.weekLine {
  width: 1px;
  height: calc(100vh - 89px - 25px - 10px - 5px - 42px);
  background: #258efa;
  position: absolute;
}

.monthWrapper {
  width: 159px;
  margin-left: 1px;
  height: 42px;
  font-style: normal;
  font-weight: lighter;
  font-size: 15px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #696f75;
  border-radius: 3px;
  transition: background 0.4s, color 0.4s;
  &:hover {
    background: #ecf5ff;
  }
  &:active {
    background: #ecf5ff;
    color: #258efa;
  }
}

.monthCurrent {
  composes: monthWrapper;
  font-weight: bold;
  background: #ecf5ff;
  border-radius: 3px;
  color: #258efa;
}

.monthLine {
  width: 1px;
  height: calc(100vh - 89px - 25px - 10px - 5px - 42px);
  background: #258efa;
  position: absolute;
}

.lineTasksWrapper {
  position: absolute;
  top: 88px;
}

.lineTask {
  position: relative;
  background: #258efa;
  border-radius: 3px;
  height: 35px;
  width: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #f3f3f3;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 20px;
  &:hover {
    .openSubtasksIcon {
      display: flex;
    }
  }
}

.stick {
  width: 2px;
  height: 25px;
  background: #fff;
  border-radius: 3px;
}

.resizeAreaLeft {
  position: absolute;
  width: 18px;
  height: 35px;
  border-radius: 3px;
  left: 0;
  cursor: text;
}

.resizeAreaRight {
  position: absolute;
  width: 18px;
  height: 35px;
  border-radius: 3px;
  right: 0;
  cursor: text;
}

.moveAreaCenter {
  position: absolute;
  height: 35px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollContainer {
  position: absolute;
  top: 73px;
}

.rootWrapper {
  position: absolute;
}

.openSubtasksIcon {
  display: none;
  position: absolute;
  left: 0px;
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #9ccdff;
  color: #258efa;
  transition: color 0.4s, background 0.4s, border 0.4s;
  &:hover {
    color: #fff;
    background: #258efa;
    border: 1px solid transparent;
  }
}

.editTaskIcon {
  composes: openSubtasksIcon;
  left: 10px;
}

.editTaskIconWrapper {
  position: absolute;
  width: 35px;
  height: 35px;
  right: -35px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.addSubtaskIcon {
  composes: openSubtasksIcon;
  border: none;
  svg {
    rect {
      stroke: #9ccdff;
    }
  }
}

.openSubtasksWrapper {
  position: absolute;
  width: 31px;
  height: 35px;
  left: -66px;
  display: flex;
  align-items: center;
}

.addSubtaskWrapper {
  position: absolute;
  width: 35px;
  height: 35px;
  left: -35px;
  display: flex;
  align-items: center;
  svg {
    width: 25px;
    height: 25px;
  }
}

.tooltip {
  width: 80px;
  height: 30px;
  background: #ffffff;
  filter: drop-shadow(15px 15px 50px rgba(9, 40, 72, 0.15));
  z-index: 100;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #696f75;
  border-radius: 0px;
  position: absolute;
  top: 47px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #ffffff;
  position: absolute;
  top: -6px;
}

.dashedContainer {
  width: 55px;
  height: calc(100vh - 174px);
  top: 60px;
  border-right: 1px dashed #ecf5ff;
  position: absolute;
  left: 0;
}

.dashedContainerWeekend {
  composes: dashedContainer;
  background: #fafcff;
}

.dashedContainerWeek {
  composes: dashedContainer;
  width: 120px;
  top: 53px;
  height: calc(100vh - 168px);
}

.dashedContainerMonth {
  composes: dashedContainer;
  width: 161px;
  top: 53px;
  height: calc(100vh - 168px);
}

.name {
  cursor: text !important;
  position: relative;
  z-index: 1;
}

.hiddenName {
  position: absolute;
  opacity: 0;
  white-space: pre;
}

.input {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  border: none;
  background: transparent;
  padding: 0;
  font-family: "Noto Sans", sans-serif !important;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: text !important;
  position: relative;
  z-index: 1;
}
