/* Base */
.modalBlock {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(51, 56, 61, 0.35);
  z-index: 100;
}

.modalWrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
}

.modal {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  position: relative;
}

/* Delete Account */
.deleteAccountModal {
  composes: modal;
  width: 420px;
  height: 270px;
  padding: 49px 40px 44px 40px;
}

.deleteAccountTitle {
  composes: title from "./base.module.scss";
  margin-bottom: 18px;
  margin-top: 0;
  text-align: center;
}

.deleteAccountDescription {
  composes: description from "./base.module.scss";
  margin-bottom: 33px;
  text-align: center;
  width: 100%;
}

.deleteAccountPrimaryButton {
  composes: primaryButton from "./base.module.scss";
  width: 160px;
  height: 60px;
  &:hover {
    background: #258efa;
    color: #fff;
    border: 1px solid transparent;
  }
}

.deleteAccountSecondaryButton {
  composes: secondaryButton from "./base.module.scss";
  width: 160px;
  height: 60px;
  &:hover + .deleteAccountPrimaryButton {
    background: rgba(37, 142, 250, 0.05);
    color: #258efa;
    border: 1px solid #258efa;
  }
}

.twoButtons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 575.98px) {
  .deleteAccountModal {
    width: calc(100% - 40px);
    height: auto;
    padding: 33px 52px 41px 52px;
  }

  .deleteAccountTitle {
    font-size: 24px;
  }

  .deleteAccountDescription {
    margin-bottom: 19px;
    font-size: 14px;
  }

  .deleteAccountPrimaryButton {
    width: 100px;
    height: 50px;
    font-size: 15px;
  }

  .deleteAccountSecondaryButton {
    width: 100px;
    height: 50px;
    font-size: 15px;
  }
}
