html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: #3375F5;
  border-radius: 3px;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  height: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: .7;
  transition: .3s;
  width: 100%;
}
button:hover {
  opacity: 1;
}

.input {
  height: 44px;
  border: 1px solid #B4B4B4;
  border-radius: 3px;
  outline: none;
  margin-top: 15px;
  font-size: 15px;
  line-height: 18px;
  padding-left: 5px;
}

* {
  box-sizing: border-box;
}