.header {
  height: 89px;
  width: 100%;
  padding: 20px 35px 23px 56px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-self: flex-start;
}

.header button {
  width: 170px;
  height: 50px;
  color: #258efa;
  border-radius: 3px;
  opacity: 1;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
}

.share_button {
  border: 1px solid #258efa;
  background-color: #ffffff;
  transition: background 0.4s, color 0.4s, border 0.4s;
  &:hover {
    background: #258efa;
    color: #fff;
    border: 1px solid transparent;
  }
  &:active {
    background: #258efa;
    color: #fff;
    border: 1px solid transparent;
  }
  svg {
    display: none;
  }
}

.account_button {
  background: #ecf5ff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 18px;
  margin-left: 20px;
  margin-right: 0;
  transition: background 0.4s, color 0.4s, border 0.4s;
  &:hover {
    background: #258efa;
    color: #fff;
  }
  &:active {
    background: #258efa;
    color: #fff;
  }
  svg {
    margin-right: 18px;
  }
}

@media (max-width: 1199.98px) {
  .header {
    box-sizing: padding-box;
    height: 72px;
    padding: 0px;
    padding-left: 43px;
    padding-right: 16px;
    border-bottom: 1px solid #ecf5ff;
    display: flex;
    align-items: center;
  }

  .buttonsContainer {
    height: 40px;
    width: 90px;
    margin-top: 16px;

    .share_button {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: none;
      }
      svg {
        display: block;
        height: 20.818359375px;
        width: 19.08349609375px;
      }
    }
    .account_button {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      span {
        display: none;
      }
      svg {
        width: 20px;
        height: 20px;
        margin-right: 0;
      }
    }
    .copyBtn {
      height: 30px;
      width: 100px;
      font-size: 12px;
      margin-top: 5px;
    }
  }
}
