.mainMenu {
  z-index: 90;
  width: 335px;
  height: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0px;
  transition: 0.3s;
}

.mainMenuOpened {
  composes: mainMenu;
  box-shadow: 50px 0px 50px rgba(9, 40, 72, 0.15);
}

.iconOpen {
  width: 35px;
  height: 40px;
  background: #ecf5ff;
  border-radius: 0px 100px 100px 0px;
  left: 0;
  top: 26px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #258efa;
  transition: background 0.4s, color 0.4s;
  &:hover {
    background: #258efa;
    color: #fff;
  }
}

.iconClose {
  composes: iconOpen;
  border-radius: 100px;
  width: 40px;
  margin-left: 17px;
}

.bigPlus {
  position: absolute;
  right: 35px;
  bottom: 35px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 89;
}

.plusSvg {
  rect {
    transition: fill 0.4s, stroke 0.4s;
    fill: #fff;
    stroke: #258efa;
  }
  path {
    transition: stroke 0.4s;
    stroke: #258efa;
  }
  &:hover {
    rect {
      fill: #258efa;
      stroke: #258efa;
    }
    path {
      stroke: #fff;
    }
  }
}

@media (max-width: 575.98px) {
  .iconOpen {
    width: 33px;
    height: 30px;
    left: 0;
    top: 21px;
    svg {
      width: 7.78px;
      height: 15.56px;
    }
  }

  .bigPlus {
    right: 16px;
    bottom: 22px;
  }

  .mainMenu {
    width: 100vw;
  }

  .mainMenu {
    .iconClose {
      width: 40px;
      height: 40px;
      margin-left: 15px;
      top: 26px;
      margin-right: 15px;
    }
  }
}
