/* Base */
.modalBlock {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(51, 56, 61, 0.35);
  z-index: 100;
}

.modalWrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
}

.modal {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  position: relative;
}

/* Share */

.shareModal {
  composes: modal;
  padding: 42px 40px;
  width: 420px;
  height: 291px;
}

.shareTitle {
  composes: title from "./base.module.scss";
  margin-bottom: 48px;
  margin-top: 0;
  text-align: center;
}

.shareForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  input {
    height: 60px;
    padding: 0px 20px;
    background-color: #fff;
    color: #696f75;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
  }
  label {
    top: -10px;
    left: 20px;
    padding: 0px 5px;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #d8d8d8;
    background-color: #fff;
  }
}

.sharePrimaryButton {
  composes: primaryButton from "./base.module.scss";
  width: 100%;
  height: 60px;
  margin-top: 20px;
}
