.wrapper {
  position: fixed;
  display: flex;
  left: 335px;
  bottom: 0;
  width: calc(100vw - 335px);
  height: 400px;
  background: #ffffff;
  box-shadow: 15px -5px 50px #09284826;
  z-index: 91;
  padding: 30px;
  padding-right: 20px;
  transition: width 0.3s;
}

.inputNameFilled {
  composes: formInputFilled from "./auth.module.scss";
  height: 50px;
  width: calc(100% - 460px);
  margin-right: 30px;
  margin-bottom: 20px;
  input {
    padding-right: 20px;
    height: 48px;
  }
}

.inputName {
  composes: formInput from "./auth.module.scss";
  height: 50px;
  width: calc(100% - 591px);
  margin-right: 30px;
  margin-bottom: 15px;
  input {
    height: 48px;
  }
  span {
    padding-top: 13px;
  }
}

.descriptionFilled {
  composes: inputNameFilled;
  padding: 0px;
  height: 270px;
  width: 100%;
  margin-bottom: 0;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding-right: 0;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  textarea {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    min-height: 238px;
    padding-right: 20px;
    width: calc(100%);
  }
}

.description {
  composes: inputName;
  padding: 0px;
  height: 270px;
  width: 100%;
  margin-bottom: 0;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding-right: 0;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  textarea {
    padding: 0;
    margin: 0;
    overflow: hidden;
    min-height: 238px;
    padding-right: 20px;
    width: calc(100%);
  }
}

.inputsWrapper {
  width: calc(100% - 70px);
  margin-right: 35px;
}

.teaxtareaWrapper {
  overflow: hidden;
  height: 237px;
}

.icon {
  cursor: pointer;
}

.trashIcon {
  cursor: pointer;
  width: 19px;
  height: 25px;
}

.crossIcon {
  cursor: pointer;
  height: 25px;
  color: #ff5b79;
  transition: color 0.4s;
  &:hover {
    color: #ed95a5;
  }
}

.closeWrapper {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.4s, border 0.4s;
  &:hover {
    background: #fff !important;
  }
  &:nth-child(1) {
    border: 1px solid rgba(37, 142, 250);
    background: rgb(37, 142, 250);
    .colorInner {
      background: rgb(37, 142, 250);
    }
    &:hover {
      border: 1px solid rgba(37, 142, 250, 0.2);
    }
    &:active {
      border: 1px solid rgba(37, 142, 250);
    }
  }
  &:nth-child(2) {
    border: 1px solid rgba(255, 188, 66);
    background: rgb(255, 188, 66);
    .colorInner {
      background: rgb(255, 188, 66);
    }
    &:hover {
      border: 1px solid rgba(255, 188, 66, 0.2);
    }
    &:active {
      border: 1px solid rgba(255, 188, 66);
    }
  }
  &:nth-child(3) {
    border: 1px solid rgba(89, 205, 144);
    background: rgb(89, 205, 144);
    .colorInner {
      background: rgb(89, 205, 144);
    }
    &:hover {
      border: 1px solid rgba(89, 205, 144, 0.2);
    }
    &:active {
      border: 1px solid rgba(89, 205, 144);
    }
  }
  &:nth-child(4) {
    border: 1px solid rgba(208, 107, 243);
    background: rgb(208, 107, 243);
    .colorInner {
      background: rgb(208, 107, 243);
    }
    &:hover {
      border: 1px solid rgba(208, 107, 243, 0.2);
    }
    &:active {
      border: 1px solid rgba(208, 107, 243);
    }
  }
  &:nth-child(5) {
    border: 1px solid rgba(102, 206, 220);
    background: rgb(102, 206, 220);
    .colorInner {
      background: rgb(102, 206, 220);
    }
    &:hover {
      border: 1px solid rgba(102, 206, 220, 0.2);
    }
    &:active {
      border: 1px solid rgba(102, 206, 220);
    }
  }
  &:nth-child(6) {
    border: 1px solid rgba(255, 91, 121);
    background: rgb(255, 91, 121);
    .colorInner {
      background: rgb(255, 91, 121);
    }
    &:hover {
      border: 1px solid rgba(255, 91, 121, 0.2);
    }
    &:active {
      border: 1px solid rgba(255, 91, 121);
    }
  }
}

.colorPicked {
  composes: color;
  background: #fff !important;
}

.colorInner {
  width: 14px;
  height: 14px;
  border-radius: 3px;
}

.colorsWrapper {
  height: 200px;
  padding: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trashWrapper {
  width: 50px;
  height: 50px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.4s;
  &:hover {
    border: 1px solid #258efa;
  }
}

.topInputsWrapper {
  display: flex;
}

.dateWrapper {
  width: 200px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #696f75;
  margin-right: 30px;
  transition: background 0.4s, color 0.4s, border 0.4s;
  &:hover {
    background: rgba(37, 142, 250, 0.05);
    border: 1px solid #258efa;
    color: #258efa;
  }
}

.datesWrapper {
  width: 430px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.dateDash {
  position: absolute;
  width: 15px;
  height: 1px;
  background: #6f6e6e;
  left: 207.5px;
  top: 24.5px;
}

.calendar {
  border: 0 !important;
  border-radius: 5px;
  filter: drop-shadow(15px 15px 50px rgba(9, 40, 72, 0.15));
}

.calendarHeader {
  width: 279px;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #696f75;
  padding-top: 0;
  border-bottom: 1px solid #ecf5ff;
}

.arrowLeft {
  position: absolute;
  left: 10px;
  cursor: pointer;
  color: #258efa;
  svg {
    width: 7px;
    height: 14px;
  }
}

.arrowRight {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.day {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  border: 0px solid transparent !important;
}

.dayPast {
  composes: day;
  color: #949da7;
  &:hover {
    .dayCircle {
      background: #ecf5ff;
    }
  }
}

.dayFuture {
  composes: day;
  color: #6f6e6e;
  &:hover {
    .dayCircle {
      background: #ecf5ff;
    }
  }
}

.dayCircle {
  composes: day;
  border-radius: 100px;
  transition: background 0.4s;
}

.dayBetween {
  background: #ecf5ff;
}

.dayStart {
  composes: day;
  background: #258efa;
  border-radius: 100px 0px 0px 100px;
  color: #ffffff;
}

.dayEnd {
  composes: day;
  background: #258efa;
  border-radius: 0px 100px 100px 0px;
  color: #ffffff;
}

.dayStartEnd {
  composes: day;
  background: #258efa;
  color: #ffffff;
}

.hiddenName {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  position: absolute;
  padding-left: 21px;
  padding-top: 14px;
  width: max-content;
  color: #d8d8d8 !important;
  white-space: pre;
}

.addSubtaskWrapper {
  display: none;
}

.textAreaAutosize {
  position: absolute;
  opacity: 0;
  textarea {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #696f75;
    width: calc(100vw - 157px);
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    padding: 23px 17px 75px 17px;
    transition: left 0.3s;
    z-index: 1000;
  }

  .inputsWrapper {
    width: calc(100% - 25px);
    margin-right: 0;
    flex-shrink: 0;
    z-index: 1;
  }

  .topInputsWrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 25px);
    label:first-child {
      align-self: flex-start;
    }
  }

  .inputNameFilled {
    width: calc(100vw - 78px);
    margin-right: 19px;
    margin-bottom: 10px;
  }

  .hiddenName {
    font-size: 13px;
  }

  .closeWrapper {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    position: absolute;
    right: 17px;
    top: 36px;
    z-index: 0;
  }

  .datesWrapper {
    width: 100%;
    margin-bottom: 10px;
    z-index: 100;
    .dateWrapper {
      width: calc(50vw - 32.5px);
      margin-right: 0;
      font-size: 13px;
    }

    .dateWrapper:first-child {
      margin-right: 32px;
    }

    .dateDash {
      left: calc(50vw - 24.5px);
    }
  }

  .description,
  .descriptionFilled {
    height: calc(100vh - 215px);
    margin-right: 0;
    padding: 10px 0px 15px 20px;
    width: calc(100vw - 34px);
    margin-bottom: 0;
  }

  .description.opened,
  .descriptionFilled.opened {
    margin-bottom: 0;
    height: calc(100vh - 215px);
    padding: 10px 0px 15px 20px;
    textarea {
      width: calc(100vw - 78px);
    }
    & + .textAreaAutosize {
      textarea {
        width: calc(100vw - 78px);
      }
    }
  }

  .teaxtareaWrapper {
    height: 100%;
    textarea {
      width: calc(100vw - 78px);
      padding-right: 0px;
      min-height: 100%;
    }
  }

  .sidebar {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .trashWrapper {
    position: absolute;
    right: 17px;
    bottom: 15px;
    z-index: 0;
  }

  .colorsWrapper {
    position: absolute;
    right: calc(50% - 100.5px);
    bottom: 15px;
    margin-bottom: 0;
    flex-direction: row;
    height: 50px;
    width: 201px;
    z-index: 0;
  }

  .addSubtaskWrapper {
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 17px;
    bottom: 18px;
    z-index: 0;
    cursor: pointer;
    svg {
      width: 45px;
      height: 45px;
    }
  }

  .hiddenTextarea {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #696f75;
    width: calc(100vw - 68px);
    overflow: visible;
    position: absolute;
    top: 0;
  }

  .textAreaAutosize {
    position: absolute;
    opacity: 0;
    left: -100%;
    textarea {
      margin: 0;
      padding: 0;
      border: none;
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 21px;
      color: #696f75;
      width: calc(100vw - 78px);
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    height: auto;
  }

  .description,
  .descriptionFilled {
    height: 65px;
    padding: 10px 0px 13px 20px;
  }

  .description.opened,
  .descriptionFilled.opened {
    padding: 11px 0px 23px 20px;
  }

  .teaxtareaWrapper {
    textarea {
      width: calc(100vw - 68px);
    }
  }

  .textAreaAutosize {
    textarea {
      width: calc(100vw - 68px);
    }
  }

  .colorsWrapper {
    right: 77px;
  }
}
